.env
.envrc
.tmpenv
**/.tmpenv

local
.kube
.talos

*.pyc
venv/
__pycache__/
.pulumi

*.pyc
venv/
__pycache__/
.talos/manifest
.pulumi/plugins
.pulumi/*
Pulumi.*.yaml
.env
.devcontainer/docker
tmp.*
tmp
.ssh
tmp
smce-cli
**/config
**/credentials
**/.gitconfig
modules/aws.bak
